.head{
    width: 100%;
    height: 100px;
    background: #000;
    color: #fff;
}
.sideBar{
    width: 200px;
    height: 800px;
    background: #000;
    color: #fff;
}
.con{
    background: #eee;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 200px;
}