.btn-wrap{
    width: 100px;
    height: 60px;
    margin: 200px auto;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background-color: blue;
    background-image: url(./cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}